<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1.0, width=device-width" />
		<link rel="stylesheet" href="./public/style.css" type="text/css" />
		<title>Exercise Tracker</title>
	</head>
	<body>
		<div class="frame main-title">Exercise tracker</div>
		<div class="spacer-horizontal"></div>
		<div class="container">
			<div class="frame main-group">
				<div class="frame group">
					<div class="frame sub-title">Create a New User</div>
					<form action="/api/users" method="post">
						<div class="frame note"><code>POST /api/users</code></div>
						<input id="uname" type="text" name="username" placeholder="username" />
						<input type="submit" value="Submit" />
					</form>
				</div>
				<div class="spacer-vertical"></div>
				<div class="frame group">
					<div class="frame sub-title">Add exercises</div>
					<form action="/api/users/:_id/exercises" id="exercise-form" method="post">
						<div class="frame note"><code>POST /api/users/:_id/exercises</code></div>
						<input id="uid" type="text" name=":_id" placeholder=":_id" />
						<input id="desc" type="text" name="description" placeholder="description*" />
						<input id="dur" type="text" name="duration" placeholder="duration* (mins.)" />
						<input id="date" type="text" name="date" placeholder="date (yyyy-mm-dd)" />
						<input type="submit" value="Submit" />
					</form>	
				</div>
			</div>
			<div class="spacer-horizontal inter-group"></div>
			<div class="frame group">
				<div class="frame note"><p><strong>GET user's exercise log: </strong><code>GET /api/users/:_id/logs?[from][&amp;to][&amp;limit]</code></p></div>
				<div class="frame note"><p><strong>[ ]</strong> = optional</p></div>
				<div class="frame note"><p><strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> = number</p></div>
			</div>
		</div>
		<div class="spacer-horizontal"></div>
		<div class="frame footer">
			made by Ameluc
		</div>

		<script>
			const exerciseForm = document.getElementById("exercise-form");

			exerciseForm.addEventListener("submit", () => {
				const userId = document.getElementById("uid").value;
				exerciseForm.action = `/api/users/${userId}/exercises`;

				exerciseForm.submit();
			});
		</script>
	</body>
</html>
